body {
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.traffic-light {
    width: 300px;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.light {
    width: 180px;
    height: 180px;
    background-color: gray;
    margin: 10px auto;
    border-radius: 50%;
    cursor: pointer;
}

.light.selected {
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.5);
}

.light.red {
    background-color: red;
}

.light.yellow {
    background-color: yellow;
}

.light.green {
    background-color: green;
}
